:root {
  --light-purple: hsl(260, 100%, 95%);
  --mid-purple: hsl(264, 82%, 80%);
  --dark-purple: hsl(263, 55%, 52%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
}
* {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
}
main {
  display: flex;
  gap: 24px;
  max-height: max-content;
  padding: 50px;
}
h2 {
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0px;
}
h3 {
  font-size: 1.2rem;
  margin: 0px;
  font-weight: 600;
}
h4 {
  font-size: 1rem;
  margin: 0px;
  font-weight: 500;
}
p {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 0px;
}
.left {
  flex: 3;
}
.left .upper {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  margin-bottom: 24px;
}
.left .lower {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
}
.right {
  flex: 1;
}
.card {
  border-radius: 20px;
  padding: 30px;
  box-shadow: 20px 30px 20px var(--grey-100);
}
.profileusername {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile {
  display: flex;
  justify-content: flex-start;
  max-height: max-content;
  gap: 10px;
  margin-bottom: 20px;
}
.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
.profilepic {
  width: 32px;
  height: 32px;
  border-radius: 80px;
}

.daniel {
  background-color: var(--dark-purple);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 85%;
  color: var(--grey-100);
}
.daniel .profilepic {
  border: 1px solid var(--mid-purple);
}
.jonathan {
  background-color: var(--grey-500);
  color: var(--grey-100);
}
.jonathan .profilepic {
  border: 1px solid white;
}
.jeanette {
  background-color: white;
  color: var(--grey-500);
}
.patrick {
  background-color: var(--dark-blue);
  color: var(--grey-200);
}
.patrick .profilepic {
  border: 1px solid var(--dark-purple);
}
.kira {
  background-color: white;
  color: var(--grey-500);
  max-height: 100%;
}
@media (max-width: 700px) {
  main {
    padding: 10px;
  }
  .left .upper,
  .left .lower,
  main {
    display: block;
  }
  .left .upper {
    margin: 0px;
  }
  .card {
    margin: 30px 0;
    border-radius: 10px;
  }
  .daniel {
    background-image: none;
  }
}
